@model DataAccessLayer.ViewModels.ItemViewModel;

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title fs-5 fw-bold text-secondary">@(Model.ItemId == 0 ? "Add " : "Update ") Item
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form id="SaveItemForm">
        <div class="modal-body ">

            <input type="hidden" asp-for="@Model.ItemId" />

            <div class="d-flex flex-sm-row flex-column gap-sm-3 gap-0">
                <div class="form-floating col mb-3">
                    <input type="text" class="form-control" id="ItemName" asp-for="@Model.ItemName"
                        placeholder="First Name*">
                    <label for="ItemName" class="text-black-50">Name*</label>
                    <span asp-validation-for="@Model.ItemName" class="text-danger text-size"></span>
                </div>
                <div class="form-floating col mb-3">
                    <input type="number" class="form-control" id="Price" asp-for="@Model.Price"
                        placeholder="Last Name*">
                    <label for="Price" class="text-black-50">Price*</label>
                    <span asp-validation-for="@Model.Price" class="text-danger text-size"></span>
                </div>
            </div>

            <div class="d-flex flex-sm-row flex-column gap-sm-3 gap-0">
                <div class="form-floating col mb-3">
                    <input type="text" class="form-control" id="Details" asp-for="@Model.Details" placeholder="Details">
                    <label for="Details" class="text-black-50">Details</label>
                    <span asp-validation-for="@Model.Details" class="text-danger text-size"></span>
                </div>
            </div>

            <div class="col-12 border-1 p-1 d-flex justify-content-center flex-column text-center">
                @if (!string.IsNullOrEmpty(Model.ThumbnailImageUrl))
                {
                    <div class="mb-2 position-relative d-inline-block">
                        <img src="@Model.ThumbnailImageUrl" alt="Thumbnail Image" style="max-width: 60px; max-height: 60px;"
                            data-image-id="thumbnail" />
                        <button type="button"
                            class="btn btn-sm btn-danger ms-3 remove-image position-absolute top-0 start-50"
                            data-target="thumbnail">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                }
                <label for="uploadThumbnailFile" class="border border-dashed rounded p-3 text-center w-100"
                    aria-label="Upload thumbnail image">
                    <span class="d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-cloud-arrow-up fs-2 text-secondary"></i>
                        <span id="browseThumbnailFileText">Browse Thumbnail file</span>
                    </span>
                </label>
                <input type="file" class="d-none" id="uploadThumbnailFile" accept="image/*"
                    asp-for="@Model.ThumbnailImageFile" />
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn solid-btn">Save</button>
                <button type="button" class="btn hollow-btn" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>

<partial name="_ValidationScriptsPartial" />

<script>

    $(document).ready(function () {
        // Handle File Selection for Thumbnail 
        $("#uploadThumbnailFile").change(function () {
            const file = this.files[0];
            if (file) {
                $("#browseThumbnailFileText").text(file.name);
            }
        });

    });

    // Remove image functionality 
    $(document).on("click", ".remove-image", function () {

        let targetId = $(this).data("target");

        $(`img[data-image-id="${targetId}"]`).parent().remove();

        if (targetId === "thumbnail") {
            $("#uploadThumbnailFile").val("");
            $("#browseThumbnailFileText").text("Browse Thumbnail file");
        }

    });


    // POST method of Save Tax
    $("#SaveItemForm").on("submit", function (e) {

        e.preventDefault();

        let form = $("#SaveItemForm");

        if (form.valid()) {

            let formData = new FormData(this);

            $.ajax({
                url: "/Admin/SaveItem",
                type: "POST",
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.success) {
                        callSuccessToaster(data.text);
                        Pagination(currentPage, searchText, pageSize, sortColumn, sortDirection);
                        $("#SaveItemModal").modal('hide');
                    } else {
                        callErrorToaster(data.text);
                    }
                }
            });
        }
    });
</script>